/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Reusable */

.purple-text {
  color: hsl(229, 23%, 23%);
}

.grey-text {
  color:  hsl(0, 0%, 59%);
}
/* Background */

body {
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  body {
    max-height: 768px;
    height: 100%;
  }
}

@media screen and (max-width: 375px) {
  body {
    max-height: 667px;
    height: 100%;
  }
}

.top,
.bottom {
  position: absolute;
  overflow: hidden;
}

.top {
  transform: translate(-10%, -70%);
  z-index: -1;
}

.bottom {
  transform: translate(100%, 35%);
  z-index: -1;
}

#main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  #main-div {
    max-width: 1024px;
  }
  .top {
    transform: translate(-65%, -25%);
    z-index: -1;
  }
  .bottom {
    transform: translate(40%, 50%);
    z-index: -1;
  }
}



/* Card */

#card {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
}

@media screen and (max-width: 1024px) {
  #card {
    width: 400px;
    height: 450px;
  }
}

@media screen and (max-width: 375px) {
  #card {
    width: 320px;
    height: 400px;
  }
}

/* Card Top */

#card-top {
  background: url(/images/bg-pattern-card.svg);
  background-size: 101%;
  height: 200px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

@media screen and (max-width: 1024px) {
  #card-top {
    height: 150px;
  }
}

@media screen and (max-width: 375px) {
  #card-top {
    height: 120px;
  }
}

/* Card Middle */

#card-middle {
  height: 250px;
  letter-spacing: 0.1rem;
}

#card-middle img {
  width: 150px;
  border-radius: 50%;
  border: 8px solid white;
  display: block;
  margin: -16% auto 35px auto;
}

.whoami {
  display: flex;
  justify-content: center;
}

.whoami h3 {
  margin-right: 10px;
  font-weight: 700;
}

.whoami p {
  font-size: 20px;
  font-weight: 400;
}

#city {
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
}

@media screen and (max-width: 375px) {
  #card-middle img {
    margin: -20% auto 20px auto;
  }
  #city {
    margin-top: 8px;
  }
}

/* Card Bottom */

hr {
  border: none;
  border-top: 1px solid whitesmoke;
  margin: 25px auto 0;
}

#card-bottom {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#card-bottom h3 {
  text-align: center;
  padding-bottom: 5px;
}

#card-bottom p {
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.2rem;
  color: hsl(0, 0%, 59%);
}

@media screen and (max-width: 1024px) {
  hr {
    margin-top: 20px;
  }
}

@media screen and (max-width: 375px) {
  hr {
    margin-top: -5px;
    padding-bottom: 15px; 
  }
  .stats {
    padding-bottom: 30px;
  }
}

/* Footer */

.attribution {
  display: none;
}